---
import { Image } from 'astro:assets';
import Page from '@layouts/Page.astro'
import PageHeader from '@ui/PageHeader.astro'
import PageContent from '@ui/PageContent.astro'
import SectionTitle from '@ui/SectionTitle.astro'
import Paragraph from '@ui/Paragraph.astro'
import FeatureCard from '@ui/FeatureCard.astro'
import TeamBuildingForm from '@components/TeamBuildingForm.astro'
import { teamBuilding } from '@data/teamBuilding'
import LogoTeamBuilding from '@assets/teambuilding.png'
import AssetTeamBuilding from '@assets/teambuilding-asset.jpg'
---

<Page title={teamBuilding.pageTitle} description={teamBuilding.pageDescription}>
  <PageHeader
    eyebrow={teamBuilding.pageHeader.eybrow}
    title={teamBuilding.pageHeader.title}
    highlight={teamBuilding.pageHeader.hightlight}
    subtitle={teamBuilding.pageHeader.subtitle}
    break={false}
  />

  <div class="bg-brand-800 mt-20 h-38 lg:h-48">
    <Image
      alt="Badge Flagmingos Team Building"
      src={LogoTeamBuilding}
      class="relative mx-auto w-full max-w-64 translate-y-[-50%] object-contain lg:max-w-72"
    />
  </div>

  <div class="bg-brand-800 px-6">
    <div class="mx-auto max-w-295 pb-10">
      <div class="grid grid-cols-1 lg:grid-cols-3">
        {teamBuilding.features.map((feature) => <FeatureCard feature={feature} dark={true} />)}
      </div>
    </div>
  </div>

  <PageContent margin="small">
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 items-center mb-10">
      <div class="grid grid-cols-1 lg:gap-6">
        {teamBuilding.description.map((paragraph) => <Paragraph>{paragraph}</Paragraph>)}
        <Image src={AssetTeamBuilding} alt="Team Building Image" class="mt-6 w-full object-cover" />
      </div>

      <div>
        <SectionTitle
          title={teamBuilding.sectionTitle.title}
          highlight={teamBuilding.sectionTitle.highlight}
          tagline={teamBuilding.sectionTitle.tagline}
          size="small"
          center
        />
        <TeamBuildingForm />
      </div>
    </div>
  </PageContent>
</Page>
