---
import Tagline from '../ui/Tagline.astro'
import Button from '../ui/Button.astro'
import { sections } from '../../data/adhesion'
import Plus from '@lucide/astro/icons/plus'

let view = 1.5
---

<div class="grid items-stretch gap-8 mt-12 lg:grid-cols-[1fr_1.2fr_1fr]">

  {

    sections.map((section) => (

      <article

        class={`

          relative flex h-full flex-col border-2

          ${

            section.primary

              ? 'border-brand-500 bg-brand-50 shadow-xl lg:-translate-y-4 p-8'

              : 'border-line bg-white p-6'

          }

        `}

      >

     {

  section.primary && (

    <div class="absolute right-6 top-6 bg-brand-500 px-3 py-1 text-xs font-bold uppercase text-white">

      Objectif performance

    </div>

  )

}
  <!-- Header -->

  <Tagline text={section.tag} />


  <h3 class="mt-4 font-display text-3xl uppercase leading-none text-ink">
    {section.title}
  </h3>

  <!-- Prix -->
  {view === 1 && (
  <>
  <div class="mt-6 flex items-end gap-3">

    <span class="font-display text-6xl leading-none text-ink">
      {section.price}€
    </span>

    <span class="pb-2 text-sm uppercase tracking-wide text-ink-soft">
      / saison
    </span>

  </div>

  <!-- Tarif féminin Propositon 1 -->
    {section.femalePrice && (
    <div class="mt-6 flex items-center justify-between border border-brand-200 bg-brand-50 p-4">
      <div>
        <p class="text-xs uppercase text-brand-700">
          Tarif développement
        </p>
        <p class="mt-1 text-sm font-semibold">
          Féminines & étudiants*
        </p>
      </div>
      <span class="font-display text-6xl text-brand-500">
        {section.femalePrice}€
      </span>
    </div>
    )}

  </>
  )}

  {view === 1.5 && (
  <>
  
  <!-- Tarif féminin Propositon 1 -->
    {section.femalePrice && (
    <div class="mt-6 flex items-center justify-between border border-brand-200 bg-brand-50 p-4">
      <div>
        <p class="text-xs uppercase text-brand-700">
          Tarif développement
        </p>
        <p class="mt-1 text-sm font-semibold">
          Féminines & étudiants*
        </p>
      </div>
      <span class="font-display text-6xl text-brand-500">
        {section.femalePrice}€
      </span>
    </div>
    )}
<div class="mt-6 flex items-end gap-3">

    <span class="font-display text-6xl leading-none text-ink">
      {section.price}€
    </span>

    <span class="pb-2 text-sm uppercase tracking-wide text-ink-soft">
      / saison
    </span>

  </div>

  </>
  )}
  
    {view == 2 && (
      <div class="mt-6 flex items-center gap-6">
        <div>
    <p class="font-mono text-xs uppercase tracking-[0.18em] text-ink-soft">
      Licence
    </p>

    <div class="mt-3 flex items-end gap-2">
      <span class="font-display text-6xl leading-none text-ink">
        {section.price}€
      </span>
    </div>

    <p class="mt-2 text-xs uppercase tracking-wide text-ink-soft">
      Tarif général
    </p>
  </div>

{section.femalePrice && (
  <div>
    <p class="font-mono text-xs uppercase tracking-[0.18em] text-brand-700">
      Tarif adapté
    </p>

    <div class="mt-3 flex items-end gap-2">
      <span class="font-display text-6xl leading-none text-brand-500">
        {section.femalePrice}€
      </span>
    </div>

    <p class="mt-2 text-xs uppercase tracking-wide text-brand-700">
      Féminines & étudiants*
    </p>
  </div>)}
      </div>
    )}
  

</div>

  {/* {section.femalePrice && (
    <div
      class="mt-3 inline-flex w-fit bg-brand-100 px-3 py-1 text-sm font-semibold text-brand-700"
    >
      {section.femalePrice}€  Féminines & Étudiants*
    </div>
  )} */}

  <!-- Description -->

  <div class="mt-8">

    <p class="text-sm font-semibold text-brand-700">
      {section.highlight}
    </p>

    <p class="mt-4 leading-relaxed text-ink-soft text-sm">
      {section.description}
    </p>

  </div>

  <!-- Infos -->

<div class="mt-7 space-y-7 flex-1">
    <!-- Public -->

    <section class="border-t border-line pt-5">

  <div class="flex items-center justify-between">

    <p class="font-mono text-xs uppercase tracking-[0.18em] text-ink-soft">

      Public

    </p>

    <p class="text-sm font-semibold text-ink">

      {section.public}

    </p>

  </div>

</section>

    <!-- Entraînements -->

    {section.trainings && (

      <section class="border-t border-line pt-6">

        <div class="flex items-center gap-2 mb-6">

          <p class="font-mono text-xs uppercase tracking-[0.18em] text-ink-soft">
            Entraînements
          </p>

        </div>

        <div class="space-y-6">

          {section.trainings.map((training) => (

            <div>

              <p class="mb-3 font-semibold text-ink text-sm">
                {training.group}
              </p>

              <div class="space-y-2">

                {training.sessions?.map((session) => (

                  <div
                    class="flex items-center justify-between border border-line bg-neutral-50 px-4 py-3"
                  >

                    <span class="font-medium text-ink text-sm">
                      {session.day}
                    </span>

                    <span class="font-mono text-sm text-ink-soft ">
                      {session.time}
                    </span>

                  </div>

                ))}

              </div>

            </div>

          ))}

        </div>

      </section>

    )}

    <!-- Inclus -->

    {section.details && (

      <section class="border-t border-line pt-6">

        <div class="flex items-center gap-2 mb-5">


          <p class="font-mono text-xs uppercase tracking-[0.18em] text-ink-soft">
            Inclus
          </p>



        </div>
          {
          section.details && (
            <ul class="space-y-2">
              {
                section.details.map((detail) => (
                  <li class="text-sm text-ink-soft">
                    <span class="text-brand-500 font-bold">+</span> {detail}
                  </li>
                ))
              }
            </ul>
          )
        }


      </section>

    )}


  </div>



{section.femalePrice && (

  <p class="mt-8 border-t border-line pt-4 text-[11px] leading-relaxed text-ink-soft">
    * Le tarif étudiant est accordé sur présentation d'un justificatif valide.
  </p>
)}
</article>
    ))
  }
</div>

<div class="mt-12 grid gap-6 md:grid-cols-2">

    <div class="border-2 border-line bg-white p-6">
        <div
        class="font-mono text-xs uppercase tracking-[0.15em] text-brand-700 mb-4"
        >
          À SAVOIR
        </div>

        <div class="space-y-4 text-sm text-ink-soft leading-relaxed">
          <p>
            <strong class="text-ink">U7 à U18 :</strong>

            <br />

            Les inscriptions sont validées par les entraîneurs afin de garantir
            un accueil adapté.
          </p>
          
          <p>
              <strong class="text-ink">Surclassement :</strong>

              <br />

              Les joueurs nés en {new Date().getFullYear() - 17} souhaitant évoluer en catégorie séniors
            doivent obtenir une validation préalable.
          </p>
        </div>
    </div>
    <div class="border-2 border-line bg-white p-6">
        <div
        class="font-mono text-xs uppercase tracking-[0.15em] text-brand-700 mb-4"
        >
        AIDE FINANCIÈRE
        </div>

        <div class="space-y-4 text-sm text-ink-soft leading-relaxed">
            <div class="text-ink font-display uppercase leading-none text-2xl">LE PASS'SPORT</div>
          <p>Une aide financière de l'État pour la pratique sportive, déductible directement de votre cotisation.</p>
          <Button variant="secondary" size="small" href="https://www.sports.gouv.fr/pass-sport-une-aide-financiere-la-pratique-sportive-295" target="_blank" rel="noopener noreferrer">
            En savoir plus
          </Button>
          
        </div>
    </div>
</div>
